<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :theme_id, "Theme" %>
  <%= f.select :theme_id, options_for_select(CATEGORIES.map{|c| c.reverse}) %>
</p>
<p>
  <%= f.label :summary %><br/>
  <%= f.text_area :summary %>
</p>
<%= f.hidden_field :author_id %>
