<!DOCTYPE html>
<html>
<head>
  <title>WeVote</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>
  <div id="content">
    <div id="top">
      <div id="title">
        <h1>We-vote</h1>
      </div>
      <ul id="navigation">
        <li class="selected"><%= link_to "Voting", proposals_path %></li>
        <li><%= link_to "Pipeline", "#" %></li>
        <li id="profile_link"><%= link_to "Profile", profile_path %></li>
        <li id="search_box">Search <input type="search" /></li>
        <li class="clear"></li>
      </ul>
      <ul id="sub_navigation">
        <li class="selected"><%= link_to "Proposal overview", proposals_path %></li>
        <li><%= link_to "Delegations", delegations_path %></li>
        <li><%= link_to "Groups", "#" %></li>
        <li class="clear"></li>
      </ul>
    </div>  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>
